<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#a8a4a4] w-screen">

<div class="mx-auto w-[600px] mt-[100px] bg-white rounded-xl p-10">
    <h2 class="text-4xl font-bold text-center">회원가입</h2>

    <form th:action="@{/signup}" th:object="${signUpForm}" method="post" onsubmit="return validatePasswords()">
        <div class="mt-10">
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">아이디</label>
            <div class="mt-2">
                <input class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       type="text" th:field="*{userId}" id="username" placeholder="아이디를 입력하세요." required>
                <span class="text-red-500" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">에러 메시지</span>
            </div>
        </div>

        <div class="mt-5">
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900"> 이름 </label>
            <div class="mt-2">
                <input class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       type="text" th:field="*{name}" id="name" name="name" placeholder="이름을 입력하세요." required>
                <span class="text-red-500" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">에러 메시지</span>
            </div>
        </div>

        <div class="mt-5">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">비밀번호</label>
            <div class="mt-2">
                <input class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       type="password" th:field="*{password}" name="password" id="password" placeholder="비밀번호를 입력하세요.">
                <span class="text-red-500" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">에러 메시지</span>
            </div>
        </div>

        <div class="mt-5">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">비밀번호 확인</label>
            <div class="mt-2">
                <input class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       type="password" th:field="*{passwordConfirm}" placeholder="비밀번호를 한번 더 입력하세요.">
                <span class="text-red-500" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">에러 메시지</span>
            </div>
        </div>

        <div class="mt-5">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">E-mail</label>
            <div class="mt-2">
                <input type="email" th:field="*{email}"  name="email" id="email" class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="E-mail 주소를 입력하세요.">
                <span class="text-red-500" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">에러 메시지</span>
            </div>
        </div>

        <div class="mt-5">
            <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>
            <div class="mt-2">
                <input type="text" th:field="*{phone}"  name="phone" id="phone" class="block w-full outline-none rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="E-mail 주소를 입력하세요.">
                <span class="text-red-500" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">에러 메시지</span>
            </div>
        </div>

        <div>
            <button type="submit" class="mt-5 w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">회원가입</button>
        </div>
    </form>
</div>

<script>
  function validatePasswords() {
    const password = document.getElementById('password').value;
    const passwordConfirm = document.getElementById('password_confirm').value;
    const errorMessage = document.getElementById('error-message');

    if (password !== passwordConfirm) {
      errorMessage.textContent = '비밀번호가 일치하지 않습니다.';
      return false;
    } else {
      errorMessage.textContent = '';
      return true;
    }
  }
</script>
</body>
</html>