<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>인덱스</title>
</head>
<body>
    <a href="/signup">회원 가입</a>
    <nav>
        <!-- 로그인 상태 확인 -->
        <div sec:authorize="isAuthenticated()">
            안녕하세요, <span th:text="${#authentication.name}"></span> 님!
            <a href="/logout">로그아웃</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a href="/login">로그인</a>
        </div>
    </nav>
</body>
</html>